@charset "UTF-8";

body {background-color: #C4D9CE}

h1 {color: #0C331F;}

h2 {color: #0C331F;}

p {color: #0C331F;}


.basico {color: blueviolet;}

.intermediario {color: red;}

.avançado {color: yellow;}